@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.empty {
    height: 100px;
    background: #ffffff;
}

.empty1 {
    height: 60px;
    background: #ffffff;
}

.heading h1 {
    font-weight: 400;
    font-size: 30px;
}

hr {
    margin: 20px 0px 40px 0px;
    color: #F7F7F7;
}

button {
    background: #F33F3F;
    border: 0px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 20px 0px;
}

button a {
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
}

.link-buttons {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.link-buttons button {
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    width: 60px;
    border-radius: 0px;
    border: 1px solid #e4e4e4;
    background: #e4e4e4;
}

.link-buttons button:hover {
    background: #F33F3F;
    color: #ffffff;
    cursor: pointer;
}

.link-buttons .active {
    background: #F33F3F;
    color: #ffffff;
}

.left {
    width: 65%;
}

.right {
    width: 30%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    font-size: 16px;
    background: #232323;
    transition: all ease 0.3s;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar.sticky {
    background: #ffffff;
}

nav .logo {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

.navbar.sticky .logo {
    color: #000000;
}

nav .logo span {
    color: #F33F3F;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0px 0px 0px 10px;
}

nav ul li a {
    padding: 24px 15px;
    color: #ffffff;
    font-weight: 500;
}

.navbar.sticky ul li a {
    color: #000000;
}

nav ul li a:hover {
    border-bottom: 4px solid #F33F3F;
}

.navbar.sticky ul li a:hover {
    color: #F33F3F;
    border-bottom: 4px solid #F33F3F;
}

nav ul li .active {
    border-bottom: 4px solid #F33F3F;
}

.navbar.sticky ul li .active {
    color: #F33F3F;
    border-bottom: 4px solid #F33F3F;
}

main {
    width: 100%;
}

.cover {
    width: 100%;
    height: 25vw;
    overflow: hidden;
    /* margin-bottom: 100px; */
}

.cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    width: 80%;
    margin: auto;
}

.about-office h3 {
    color: #1A66A0;
    font-weight: 500;
}

.about-office p {
    margin: 30px 0px;
    font-weight: 300;
}

input,
textarea {
    width: 100%;
    border: 1px solid #d3d1d1;
    padding: 7px;
    font-size: 14px;
    margin: 7px auto;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.accordion {
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
}

.accordian-hr {
    margin: 5px 0px;
}

.accordion-item {
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.accordion-header {
    padding: 15px;
    color: #1A66A0;
    /* background-color: #f1f1f1; */
    cursor: pointer;
    font-size: 18px;
    /* font-weight: bold; */
}

.accordion-header:hover {
    color: #F33F3F;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fff;
}

.partner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.partner-box img {
    width: 18%;
}

.footerhr {
    width: 80%;
    margin: auto;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px 0px 60px 0px;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    background: #ffffff;
}

footer a {
    color: #F33F3F;
}